<mat-toolbar color="primary" class="sociales">
    
    <a href="https://www.techo.org/" target="_blank">
        <p class="techo">TECHO</p>
    </a>
    <div class="example-spacer"></div>
        <p class="footer">Hecho con 💜 por Folcamp</p>
    <div class="example-spacer"></div>
        <a href="https://www.instagram.com/techo_argentina/?hl=es-la" target="_blank">
            <i class="fab fa-instagram icon"></i>
        </a>
        <a href="https://www.facebook.com/TECHOargentina" target="_blank">
            <i class="fab fa-facebook-f icon"></i>
        </a>
        <a href="https://www.linkedin.com/company/techo---argentina/?originalSubdomain=ar" target="_blank">
            <i class="fab fa-linkedin-in icon"></i>
        </a>

</mat-toolbar>
