<div style="background: #fff; height: 100%; overflow-x: hidden;">
    <div>
        <button class="arrow" matTooltip="Volver atrás" routerLink="/donacion">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="botones">
        <button class="unica" type="button">
            Donación única
        </button>
        <button class="bancaria" type="button" routerLink='/transferencia-bancaria'>
            Transferencia bancaria
        </button>
    </div>
    <div class="titulo">
        <h5>Realizar donación única</h5>
    </div>
    <div class="pagos">
        <div class="row">
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1RvvAij" target="_blank" rel="noopener noreferrer">500</a>
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1vkpeBY" target="_blank" rel="noopener noreferrer">800</a>
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1c4MdaB" target="_blank" rel="noopener noreferrer">1000</a>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1VmE5AL" target="_blank" rel="noopener noreferrer">1500</a>
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1joc4wc" target="_blank" rel="noopener noreferrer">3000</a>
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/2xJ53kb" target="_blank" rel="noopener noreferrer">5000</a>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/14DXZ5A" target="_blank" rel="noopener noreferrer">25000</a>
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1PBSt3B" target="_blank" rel="noopener noreferrer">50000</a>
                </button>
            </div>
            <div class="col-4 col-md-4">
                <button mat-button class="donacion">
                    <a mat-button class="donacion_numero" href="https://mpago.la/1Qc9qks" target="_blank" rel="noopener noreferrer">100000</a>
                </button>
            </div>
        </div>
    </div>
</div>
