<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>
    <a>
        <img src="../../../../assets/logo-techo/Logo PNG en negativo.png" class="logo" routerLink="/home-socios">
    </a>
    <span class="example-spacer"></span>
    <ul class="row m-0 align-items-center">
        <li style="display: flex; flex-direction: row;">
            <div style="margin-top: 1rem; font-size: 0.9rem;">
                <p *ngIf="user">Hola, {{user.nombre | titlecase}}</p>
            </div>
            <button
                mat-button
                [matMenuTriggerFor]="menu"
                class="botonUser mt-2 d-flex align-items-center">
                <mat-icon class="account">account_circle</mat-icon>
                
            </button>
            <mat-menu #menu="matMenu">
                <button class="buttonn" mat-menu-item>
                    <div class="user">
                        <div class="username" *ngIf="user">{{user.nombre | titlecase}}</div>
                        <div class="username" *ngIf="email">{{email}}</div>
                    </div>
                    
                </button>
                <button class="buttonn" mat-menu-item routerLink="/perfil" >
                    <mat-icon>person_outline</mat-icon>
                    Perfil
                </button>
                <button class="buttonn" mat-menu-item routerLink="/recuperar-contraseña-socio">
                    <mat-icon>vpn_key</mat-icon>
                    Cambiar contraseña
                </button>
                <button class="buttonn" mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Cerrar sesión
                </button>
            </mat-menu>
        </li>
    </ul>
</mat-toolbar>
