<div>
    <button class="arrow" matTooltip="Volver atrás" routerLink="/home-socios"> <!-- routerLink="/home-adm" -->
        <mat-icon>arrow_back</mat-icon> 
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 caja_alta mt-5">

            <form [formGroup]="datosSocios" class="mf">
                <h4>Datos Personales</h4>
                <div class="mb-5 formu">
                    <div class="cont">
                        <label  class="form-label">Nombre</label>
                        <input readonly type="text" class="form-control" id="nombre"
                            placeholder="Escribí tu nombre" formControlName="nombre" required>
                            <!--<div class="text-danger" *ngIf="datosSocios.controls['nombre'].hasError('required') && (datosSocios.controls['nombre'].dirty || datosSocios.controls['nombre'].touched)">Este campo es requerido</div>-->
                    </div>

                    <div class="cont">
                        <label  class="form-label">Apellido</label>
                        <input readonly type="text" class="form-control" id="apellido"
                            placeholder="Escribí tu apellido" formControlName="apellido" required>
                            <!--<div class="text-danger" *ngIf="datosSocios.controls['apellido'].hasError('required') && (datosSocios.controls['apellido'].dirty || datosSocios.controls['apellido'].touched)">Este campo es requerido</div>-->
                    </div>
                </div>

                <div class="mb-3 formu">
                    <div class="cont">
                        <label  class="form-label">DNI</label>
                        <input readonly type="number" class="form-control" id="dni"
                            placeholder="Escribí tu DNI sin puntos y espacios" formControlName="dni" autocomplete="off" required>
                            <!--<div class="text-danger" *ngIf="datosSocios.controls['dni'].hasError('required') && (datosSocios.controls['dni'].dirty || datosSocios.controls['dni'].touched)">Escribí sin puntos ni espacios</div>-->
                    </div>
                    <div class="cont">
                        <label  class="form-label">Provincia donde Reside</label>
                        <input readonly type="text" class="form-control" name="provincia" id="provincia" formControlName="provincia" required>
                        
                            <!--<option *ngFor= "let provincia of provincias" value="{{ provincia }}">{{ provincia }}</option>-->
                        
                        <!--<div class="text-danger" *ngIf="datosSocios.controls['provincia'].hasError('required') && (datosSocios.controls['provincia'].dirty || datosSocios.controls['provincia'].touched)">Seleccione una opción</div>-->
                    </div>
                </div>

                <div class="mb-3 formu">
                </div>

                <div class="mt-5">
                    <h4 class="mt-3">Datos de Contacto</h4>
                    <div class="mb-5 formu">
                        <div class="cont">
                            <label  class="form-label">Correo Electrónico</label>
                            <input readonly type="text" class="form-control" id="mail"
                                aria-describedby="emailHelp" placeholder="alguien@ejemplo.com" formControlName="mail" required>
                                <!--<div class="text-danger" *ngIf="datosSocios.controls['mail'].hasError('required') && (datosSocios.controls['mail'].dirty || datosSocios.controls['mail'].touched)">Ingrese un email válido</div>-->
                        </div>
                        <div class="cont">
                            <label  class="form-label">Teléfono Celular</label>
                            <input readonly type="number" class="form-control" id="telef"
                                placeholder="Escribí sin el 0 y sin el 15" formControlName="telef" required>
                                <!--<div class="text-danger" *ngIf="datosSocios.controls['telef'].hasError('required') && (datosSocios.controls['telef'].dirty || datosSocios.controls['telef'].touched)">Sin puntos ni guiones</div>-->
                        </div>
                    </div>
                </div>

                <div class="posicion">
                    <button type="button" class="button" routerLink="/editar-perfil">Editar</button>
                </div>

            </form>
        </div>
    </div>
</div>