<div style="background: #fff;">
    <div>
        <button class="arrow" matTooltip="Volver atrás" routerLink="/donacion">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="botones">
        <button class="unica" type="button" routerLink='/donacion-unica'>
            Donación única
        </button>
        <button class="bancaria" type="button">
            Transferencia bancaria
        </button>
    </div>

    <div class="ancho">
        <div class="titulo">
            <h5>Banco Hipotecario</h5>
        </div>
        <div class="tarjeta">
            <div class="tamaño">
                <p>Tipo y N° de Cuenta: <b>Cta Cte Esp $ 400000013297761</b></p>
                <p>N° de CBU: <b>0440000440000132977618</b></p>
                <p>CBU Alias: <b>TECHO.DONACIONES.S</b></p>
                <p>Titular de la cuenta: <b>Un Techo Para Argentina AC</b></p>
                <p>CUIT del titular: <b>30708357363</b></p>
            </div>
        </div>
    </div>

    <div class="ancho">
        <div class="titulo">
            <h5>Beneficiary Bank</h5>
        </div>
        <div class="tarjeta">
            <div class="tamaño">
                <p>Bank name: <b>BANCO HIPOTECARIO</b></p>
                <p>Swift code: <b>BHIPARBAXXX</b></p>
                <p>Beneficiary’s name: <b>UN TECHO PARA ARGENTINA A.C.</b></p>
                <p>Beneficiary’s account number: <b>200000028125066</b></p>
            </div>
        </div>
    </div>

    <div class="ancho">
        <div class="titulo">
            <h5>Intermediary Bank</h5>
        </div>
        <div class="tarjeta">
            <div class="tamaño text-center">
                <p>Citibank NA – NEW YORK – USA 111 Wall Street</p>
                <p> New York, NY 10043, USA</p>
                <p>Swift Code CITIUS33XXX - ABA 021000089</p>
                <p> Account Numer: 10954887 DE BANCO HIPOTECARIO S.A.</p>
                <p>(SWIFT:BHIPARBAXXX)</p>
            </div>
        </div>
    </div>
    <div class="texto">
        <p>Nos gustaría contactarte especialmente por tu nueva donación, no olvides enviarnos el comprobante a <b style="color: #0092DD;">socios.argentina@techo.org</b>
            para permitirnos hacerte llegar nuestro profundo agradecimiento en nombre de miles de familias.</p>
    </div>
</div>
