<mat-nav-list>
    <div class="logo"></div>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home-socios" (click)="cerrar()">
        <mat-icon>home</mat-icon>  Inicio
    </a>
    <a mat-list-item routerLinkActive="list-item-active" href="https://techo.solidario.club/" target="_blank">
        <mat-icon>verified</mat-icon>  Beneficios
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/donacion'>
        <mat-icon>volunteer_activism</mat-icon> Mi Donación
    </a>
    <a mat-list-item routerLinkActive="list-item-active" href="https://actividades.techo.org/" target="_blank">
        <mat-icon>group</mat-icon>  Voluntariado
    </a>
    <div class="logo"></div>
</mat-nav-list>