<div style="height: 100%; overflow-x: hidden;">
    <div class="row margenes">
        <div class="col-12 margenes">
            <div class="jumbotron text-center mb-5">
                <img src="../../../../../assets/imagenes/Portal.jpg" width="100%">
            </div>
        </div>
        <div class="col-12 margenes">
            <div class="row mw-100 cartas">
                <div class="col-md-4 card text-center caja">
                    <a href="https://techo.solidario.club/" target="_blank" rel="noopener noreferrer" class="mat-button">
                        <button class="btn card-body posicion" >
                            <div>
                                <img src="../../../../../assets/imagenes/beneficios.jpg" class="imagen">
                            </div>
                            <div class="">
                                <div class="">
                                    <h4 class="card-title text">Club de Beneficios</h4>
                                </div>
                            </div>
                        </button>
                    </a>
                </div>
                <div class="col-md-4 card text-center caja">
                    <button class="btn card-body posicion" routerLink='/donacion'>
                        <div>
                            <img src="../../../../../assets/imagenes/donación.jpg" class="imagen">
                        </div>
                        <div class="">
                            <div class="">
                                <h4 class="card-title text">Mi Donación</h4>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-md-4 card text-center caja">
                    <a href="https://actividades.techo.org/" target="_blank" rel="noopener noreferrer" class="mat-button">
                        <button class="btn card-body posicion">
                            <div>
                                <img src="../../../../../assets/imagenes/voluntariado.jpg" class="imagen">
                            </div>
                            <div class="">
                                <div class="">
                                    <h4 class="card-title text">Sumate como voluntario</h4>
                                </div>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>