<div style="overflow-x: hidden;">
    <div class="row fondo" style="height: 100%;">
        <div class="col logo">
            <div>
                <img src="../../../../assets/imagenes/Construccion_33.jpg" height="100%" width="100%" >
            </div>
        </div>
        <div class="col mb-5">
            <div class="content">
                <img src="../../../../assets/logo-techo/Logo PNG en negativo.png" class="img">
                <mat-card class="card">
                    <mat-card-header>
                    <mat-card-title class="title">¡Te damos la bienvenida!<br>a la comunidad de socios y socias<br>de <strong>TECHO</strong></mat-card-title>
                    </mat-card-header>
                <mat-card-content>
                    <button class="button" routerLink="/login">Continuar</button>
                </mat-card-content>
                </mat-card>
            </div>
        </div>
        
    </div>
</div>
<app-footer class="pie" style="overflow-x: hidden;"></app-footer>